*
!.gitignore
!.travis.yml
!*.py
!*.yaml
!*.launch
!*.test
!CMakeLists.txt
!package.xml
!README.md
!*.txt
!scripts/
!*.conf
!src/
!src/**/
!configs/
!launch/
!samples/
!docs/
!docs/*
!images/
!images/*
!test/
!test/**/
